.formContainer {
    @apply fixed  w-full h-svh bg-gray-600/40 top-0 left-0 flex flex-col justify-center items-center mt-5
}
.form {
    @apply  bg-white p-5 rounded-md
}
.formItem {
    @apply flex flex-col gap-2 mt-2
}
.input {
    @apply bg-white rounded-md border w-full h-10 p-2
}
.formTitle {
    @apply text-2xl font-bold border-b  pb-2
}
.buttonsContainer {
    @apply flex justify-between lg:justify-end gap-4 mt-10
}
.saveButton{
    @apply rounded border bg-green-500 px-2 py-2 font-bold flex gap-2 items-center text-white hover:bg-green-600 transition-colors
}
.cancelButton {
 @apply rounded border bg-red-500 px-2 py-2 font-bold flex gap-2 items-center text-white hover:bg-red-600 transition-colors  
}